<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzb.ipfs.filestore.dao.LgSnHeatMapper" >
  <resultMap id="BaseResultMap" type="com.zzb.ipfs.filestore.pojo.LgSnHeat" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="equipment_sets" property="equipmentSets" jdbcType="INTEGER" />
    <result column="equipment_sn" property="equipmentSn" jdbcType="VARCHAR" />
    <result column="uploadingtime" property="uploadingtime" jdbcType="INTEGER" />
    <result column="uploading" property="uploading" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, region, equipment_sets, equipment_sn, uploadingtime, uploading
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zzb.ipfs.filestore.pojo.LgSnHeatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lg_sn_heat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from lg_sn_heat
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from lg_sn_heat
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzb.ipfs.filestore.pojo.LgSnHeatExample" >
    delete from lg_sn_heat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzb.ipfs.filestore.pojo.LgSnHeat" >
    insert into lg_sn_heat (id, region, equipment_sets, 
      equipment_sn, uploadingtime, uploading
      )
    values (#{id,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{equipmentSets,jdbcType=INTEGER}, 
      #{equipmentSn,jdbcType=VARCHAR}, #{uploadingtime,jdbcType=INTEGER}, #{uploading,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzb.ipfs.filestore.pojo.LgSnHeat" >
    insert into lg_sn_heat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="equipmentSets != null" >
        equipment_sets,
      </if>
      <if test="equipmentSn != null" >
        equipment_sn,
      </if>
      <if test="uploadingtime != null" >
        uploadingtime,
      </if>
      <if test="uploading != null" >
        uploading,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSets != null" >
        #{equipmentSets,jdbcType=INTEGER},
      </if>
      <if test="equipmentSn != null" >
        #{equipmentSn,jdbcType=VARCHAR},
      </if>
      <if test="uploadingtime != null" >
        #{uploadingtime,jdbcType=INTEGER},
      </if>
      <if test="uploading != null" >
        #{uploading,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzb.ipfs.filestore.pojo.LgSnHeatExample" resultType="java.lang.Integer" >
    select count(*) from lg_sn_heat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lg_sn_heat
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null" >
        region = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentSets != null" >
        equipment_sets = #{record.equipmentSets,jdbcType=INTEGER},
      </if>
      <if test="record.equipmentSn != null" >
        equipment_sn = #{record.equipmentSn,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadingtime != null" >
        uploadingtime = #{record.uploadingtime,jdbcType=INTEGER},
      </if>
      <if test="record.uploading != null" >
        uploading = #{record.uploading,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lg_sn_heat
    set id = #{record.id,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR},
      equipment_sets = #{record.equipmentSets,jdbcType=INTEGER},
      equipment_sn = #{record.equipmentSn,jdbcType=VARCHAR},
      uploadingtime = #{record.uploadingtime,jdbcType=INTEGER},
      uploading = #{record.uploading,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzb.ipfs.filestore.pojo.LgSnHeat" >
    update lg_sn_heat
    <set >
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSets != null" >
        equipment_sets = #{equipmentSets,jdbcType=INTEGER},
      </if>
      <if test="equipmentSn != null" >
        equipment_sn = #{equipmentSn,jdbcType=VARCHAR},
      </if>
      <if test="uploadingtime != null" >
        uploadingtime = #{uploadingtime,jdbcType=INTEGER},
      </if>
      <if test="uploading != null" >
        uploading = #{uploading,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzb.ipfs.filestore.pojo.LgSnHeat" >
    update lg_sn_heat
    set region = #{region,jdbcType=VARCHAR},
      equipment_sets = #{equipmentSets,jdbcType=INTEGER},
      equipment_sn = #{equipmentSn,jdbcType=VARCHAR},
      uploadingtime = #{uploadingtime,jdbcType=INTEGER},
      uploading = #{uploading,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>