
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Card Play</title>

    <!-- Bootstrap core CSS -->

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link th:href="@{/css/justified-nav.css}" rel="stylesheet">

</head>

<body>

<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Card Play</h3>
        <nav>
            <ul class="nav nav-justified">
                <li ><a th:href="@{/getServerList}">Server List</a></li>
                <li class="active"><a href="#">Player List</a></li>
                <li><a th:href="@{/getRobotPlayerList}">Robot List</a></li>
                <li><a href="#">Downloads</a></li>
            </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h2 style="margin-bottom: 20px">玩家列表</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>uid</th>
                <th>nick_name</th>
                <th>ip_zone</th>
                <th>level</th>
                <th>score</th>
                <th>status</th>
                <th>vip_level</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s: ${playerInfoList}">
                <td th:text="${s.uid}"></td>
                <td th:text="${s.nick_name}"></td>
                <td th:text="${s.ip_zone}"></td>
                <td th:text="${s.level}"></td>
                <td th:text="${s.score}"></td>
                <td th:text="${s.status}"></td>
                <td th:text="${s.vip_level}"></td>

            </tr>
            </tbody>
        </table>

    </div>



    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
    </footer>

</div> <!-- /container -->

</body>
</html>
